#gear_menu_about_zulip,
#deactivate_account_container,
#realm_zulip_update_announcements_stream_id_widget_container,
#api_key_button_box,
#navbar_alerts_wrapper,
#deactivate_realm_button_container,
#id_org_profile_preview,
.top-messages-logo,
.app-loading-logo,
.password-change-form.grid,
.org-info.org-version,
.desktop_notifications,
.mobile_notifications,
.logout_button,
.emoji-preferences,
.right-sidebar-shortcuts,
.help_link_widget,
.input-group:has(label#id_realm_send_welcome_emails_label),
.input-group:has(label#id_realm_want_advertise_in_communities_directory_label),
.settings-empty-option-text:has(a[href^='/help']),
a[href^="/help"],
a[href^="help/"],
li.link-item.popover-menu-list-item:has(a i.zulip-icon-heart)~li.popover-menu-separator,
li.link-item.popover-menu-list-item:has(a i.zulip-icon-f-globe)~li.popover-menu-separator,
li.link-item.popover-menu-list-item:has(a i.popover-menu-icon.zulip-icon.zulip-icon-tool)~li.popover-menu-separator,
li.link-item.popover-menu-list-item:has(a i.zulip-icon.zulip-icon-bar-chart),
li.link-item.popover-menu-list-item:has(a i.zulip-icon.zulip-icon-monitor),
li.link-item.popover-menu-list-item:has(a i.zulip-icon.zulip-icon-git-pull-request),
li.link-item.popover-menu-list-item:has(a i.zulip-icon.zulip-icon-file-text),
li.link-item.popover-menu-list-item:has(a i.zulip-icon.zulip-icon-heart),
li.link-item.popover-menu-list-item:has(a i.zulip-icon.zulip-icon-user-plus),
li.link-item.popover-menu-list-item:has(a i.zulip-icon.zulip-icon-rocket),
.subscription_block.selectable_sidebar_block span[title="Zulip"],
[data-stream-id="1"],
h3:has(a[href="/help/deactivate-your-organization"]),
.stream-row[data-stream-name="Zulip"],
li.list-item[data-name="Zulip"],
.message_content.rendered_markdown > p:first-child,
li[data-section="emoji-settings"],
li[data-section="linkifier-settings"],
li[data-section="playground-settings"],
li[data-section="bot-list-admin"],
li[data-section="default-channels-list"],
li[data-section="profile-field-settings"],
li[data-section="data-exports-admin"],
li[data-section="your-bots"],
li[data-section="alert-words"],
li[data-section="auth-methods"],
li[data-section="topics"] {
    display: none !important;
}

#full_name_input_container input,
#change_email_button_container button {
    pointer-events: none !important;
    background-color: hsl(0deg 0% 93%) !important;;
}